.sec-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
h6.pr-color {
    color: #fff;
}
.sec-content h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
    color: #fff;
}
.sec-heading h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #fff;
}
section.cal{
    padding-top: 120px;
}